<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.namazvakitleriwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nvwlogo_lacivert"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nvwlogo_lacivert"
        android:supportsRtl="true"
        android:theme="@style/Theme.NamazVakitleriWidget"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Ayarlar"
            android:exported="false" />
        <activity
            android:name=".Dua"
            android:exported="false" />
        <activity
            android:name=".Hadis"
            android:exported="false" />
        <activity
            android:name=".Ayet"
            android:exported="false" />
        <activity
            android:name=".TabbedActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/Theme.NamazVakitleriWidget.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SelectCity"
            android:exported="false" />

        <receiver
            android:name=".NewAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity
            android:name=".AllTimes"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>